@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

body {
    background: url(https://i.hizliresim.com/crfxzb3.jpg);
    background-size: 1920px;
}

.chatpanel {
    max-width: 550px;
    margin-top: 2%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2%;
}

.message {
    display: block;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    word-wrap: break-word;
}

.post_input:disabled {
    background-color: #c3c9d0;
}


.system {
    background-color: #d2d6de;
    margin-bottom: 10px;
    color: #475569

}

.user {
    background-color: #36b47d;
    margin-bottom: 10px;
}

strong {
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
    color: #858585 !important;
    margin-right: 10px;
}

.post_input {
    width: 100%;
    border: none;
    padding: 8px;
    background-color: #eee;
    outline: none;
    border-radius: 3px;
}


.file_upload::-webkit-file-upload-button {
    visibility: hidden;
}

.file_upload {
    color: transparent;
}


.file_upload::before {
    content: 'Dosya seç';
    display: inline-block;
    -webkit-user-select: none;
    color: #475569 !important;
    background-color: #ced4da;
    max-width: 100%;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}
.file_upload:hover::before {
    border-color: black;
}

.fileupload_alert {
    padding: 10px;
    background-color: #60a5fa;
    color: #fff;
    margin-bottom: 10px;
}

.chat_image {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 200px;
}

.author {
    background-color: #eee;
    display: inline;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
